@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');

:root{
    --yellow:#fed330;
    --black:#222;
   --light-color:#777;
   --border:.2rem solid var(--black);
}

*{
   font-family: 'Rubik', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   text-decoration: none;
}

.user-details .user{
   max-width: 50rem;
   margin:0 auto;
   border:var(--border);
   padding:2rem;
}

.user-details .user img{
   width: 100%;
   height: 20rem;
   object-fit: contain;
   margin-bottom: 1rem;
}

.user-details .user p{
   padding:1rem 0;
   line-height: 1.5;
   font-size: 2rem;
}

.user-details .user p span{
   color:var(--black);
}

.user-details .user p i{
   margin-right: 1rem;
   color:var(--light-color);
}

.user-details .user .address{
   margin-top: 1rem;
}

.btn{
   margin-top: 1rem;
   display: inline-block;
   font-size: 2rem;
   padding:1rem 3rem;
   cursor: pointer;
   text-transform: capitalize;
   transition: .2s linear;
}

.btn{
   background-color: var(--yellow);
   color:var(--black);
}

.btn:hover,
.delete-btn:hover{
   letter-spacing: .2rem;
}

/* media queries  */

@media (max-width:991px) {
   
   html{
      font-size: 55%;
   }

}

@media (max-width:768px){

}

@media (max-width:450px) {
   
   html{
      font-size: 50%;
   }

   .title{
      font-size: 3rem;
   }

   .heading h3{
      font-size: 3.5rem;
   } 

}
